image: golang:1.24

before_script:
  - apt-get update
  - apt-get install -y make curl git shellcheck
  - export GOTOOLCHAIN=local

stages:
- build
- test
- build-log
- documentation

make-all:
  stage: build
  script: make check

make-check:
  stage: test
  script: make check
  artifacts:
    when: always
    paths:
    - ./tests/test.*

make-check-386:
  stage: test
  script: GOARCH=386 make check
  artifacts:
    when: always
    paths:
    - ./tests/test.*

make-check-go-1.23:
  stage: test
  image: golang:1.23
  script: make check

make-shellcheck:
  stage: test
  script: cd tests && make shellcheck

# Succeeds if no changes are suggested by gofmt -d .
gofmt:
  stage: test
  script: if gofmt -d . | grep . ; then false ; else true ; fi

codespell:
  image: debian:testing
  stage: test
  before_script:
    - apt-get update
    - apt-get install -y codespell
  script:
    - codespell -L erro

go-vet:
  stage: test
  script: go vet ./...

build-log-go:
  stage: build-log
  allow_failure: true
  # Doesn't need any of the artifacts from the test stage.
  dependencies: []
  script:
  - git clone https://git.glasklar.is/sigsum/core/log-go.git &&
    cd log-go && go work init && go work use . .. && go build ./...

make-doc:
  stage: documentation
  before_script:
    - apt-get update
    - apt-get install -y make git help2man pandoc mandoc man-db
  script:
    - make doc
    # https://manpages.debian.org/testing/mandoc/mandoc.1.en.html
    # https://lintian.debian.org/tags/bad-whatis-entry.html
    - MANPAGER=cat mandoc -T lint doc/*.? || true
    - MANPAGER=cat mandoc -T lint -W error doc/*.?
    - lexgrog --debug doc/*.1
