**Title:** Implement proof verification</br>
**Date:** 2021-12-20 </br>

# Summary
Implement verification of inclusion and consistency proofs in `pkg/types`.

# Description
Inclusion and consistency proof verification have yet to be implemented.  For
algorithms, see RFC 6962.  Avoid bringing in an external dependency for this.
